

<br>

<div *ngIf="submitted" id="overlay_loading">

<div id="gifspinner" class="preloader-wrapper big active">
     <div class="spinner-layer spinner-blue">
     <div class="circle-clipper left">
       <div class="circle"></div>
     </div><div class="gap-patch">
       <div class="circle"></div>
     </div><div class="circle-clipper right">
       <div class="circle"></div>
     </div>
   </div>

</div>
</div>
<!-- <div class="row">
    <button routerLink='/products/{{this.id_url}}/{{this.category_url}}'  routerLinkActive="active" id="back_to_categories" class="btn black" ><i class='material-icons'>arrow_back</i></button>
</div> -->

<!-- <div >
   <h4>
      Categories > Product:{{category_url}} > Gallery:{{this.product_url}}
   </h4>
</div> -->

<nav>
    <div class="nav-wrapper  ">
      <div class="col s12 indigo darken-4 ">

        <a routerLink='/' fragment="categories" routerLinkActive="active" class="breadcrumb" >&nbsp;Categories</a>
        <a routerLink='/products/{{this.id_url}}/{{this.category_url}}'  routerLinkActive="active" class="breadcrumb" >{{category_url}}</a>
        <a class="breadcrumb">{{this.product_url}}</a>

      </div>
    </div>
  </nav>
<br><br>

<ul id="tabs-swipe-demo" class="tabs indigo darken-4 ">
  <li class="tab col s3 "><a class="white-text" href="#gallery">Gallery</a></li>
  <li class="tab col s3"><a class="white-text" href="#youtube">Youtube</a></li>
</ul>
<br><br>
 <div id="gallery" class="col s12">
<h5>Add images to gallery</h5>

   <div class="row">

     <form id = "formNewGallery" name ="formNewGallery" #galleryData = "ngForm" >
      <label class="custom-file-upload"> Select Files or Drag and Drop
      <input id="image" name="image" type="file" (change)="addGallery();galleryData.reset() " placeholder="Upload a file..." multiple ngModel/>
    </label>
    <br><br>
    </form>

   </div>

   <table class="responsive-table striped">
          <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Delete</th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of gallery" >
              <td><img src='http://localhost:3000/uploads/{{item.src}}' height='42' width='62'></td>
              <td><input type = "text" name ="title_value" id="title_value" #Title_Value placeholder="Enter Title" value='{{item.title}}' (change)="SetGalleryDescription(item.src,Title_Value.value,Description_Value.value)" ></td>
              <td><input type = "text" name ="description_value" id="description_value" #Description_Value placeholder="Enter Description" value='{{item.description}}' (change)="SetGalleryDescription(item.src,Title_Value.value,Description_Value.value)"></td>
              <td> <a (click)="deleteGalleryItem(item.src)" class="waves-effect waves-light red darken-3 btn"><i  class="material-icons">delete</i></a></td>


            </tr>
                <div *ngIf="submitted" class="progress"><div class="indeterminate"></div></div>
          </tbody>
  </table>
</div>
 <div id="youtube" class="col s12">
   <div >
     <h5>Add youtube videos to gallery</h5>


      <div class="row">

        <form id = "formNewYoutube" name ="formNewYoutube" #youtubeData = "ngForm" >
         <input type = "text" name ="youtube_description" id="youtube_description" placeholder="Description" ngModel><br>
        <input type = "text" name ="youtube_link" id="youtube_link" placeholder="Enter the youtube link" ngModel><br>
        <input type="button" class="btn  green darken-1" (click)="addVideo(); youtubeData.reset()" value="Add Video">
       </form>

      </div>

      <table class="responsive-table striped">
             <thead>
               <tr>
                   <th>URL</th>
                   <th>Description</th>
                   <th>Delete</th>
               </tr>
             </thead>

             <tbody>
               <tr *ngFor="let item of video">
                 <td><a href='https://www.youtube.com/watch?v={{item.src}}'  target="_blank">{{item.src}}</a></td>
                 <td><input type = "text" name ="description_value_yt" id="description_value_yt" #Description_Value_yt placeholder="Enter Description" value='{{item.description}}' (change)="SetGalleryDescription(item.src,'title',Description_Value_yt.value)"></td>
                   <td> <a (click)="deleteGalleryItem(item.src)" class="waves-effect waves-light red darken-3 btn"><i  class="material-icons">delete</i></a></td>
               </tr>
             </tbody>
     </table>

   </div>
 </div>
