

<br>
<br>
<div *ngIf="submitted" id="overlay_loading">

<div id="gifspinner" class="preloader-wrapper big active">
     <div class="spinner-layer spinner-blue">
     <div class="circle-clipper left">
       <div class="circle"></div>
     </div><div class="gap-patch">
       <div class="circle"></div>
     </div><div class="circle-clipper right">
       <div class="circle"></div>
     </div>
   </div>

</div>
</div>

 <div >
    <h3>
       Edit Gallery for "{{this.product_url}}" Product
    </h3>
 </div>



   <div class="row">

     <form id = "formNewGallery" name ="formNewGallery" #galleryData = "ngForm" >
      <label class="custom-file-upload"> Select Files or Drag and Drop
      <input id="image" name="image" type="file" (change)="addGallery();galleryData.reset() " placeholder="Upload a file..." multiple ngModel/>
    </label>
    <br><br>
    </form>

   </div>

   <table class="responsive-table striped">
          <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Delete</th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of gallery">
              <td><img src='http://localhost:3000/uploads/{{item.src}}' height='42' width='62'></td>
              <td><input type = "text" name ="title_value" id="title_value" #Title_Value placeholder="Enter Title" value='{{item.title}}' (change)="SetGalleryDescription(item.src,Title_Value.value,Description_Value.value)" ></td>
              <td><input type = "text" name ="description_value" id="description_value" #Description_Value placeholder="Enter Description" value='{{item.description}}' (change)="SetGalleryDescription(item.src,Title_Value.value,Description_Value.value)"></td>
              <td> <a (click)="deleteGalleryItem(item.src)" class="waves-effect waves-light red darken-3 btn"><i  class="material-icons">delete</i></a></td>
            <!--  <td><a href='gallery/{{item.id}}/{{item.product_name}}' routerLinkActive="active" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons">edit</i></a></td>-->


            </tr>
              <div *ngIf="!submitted" class=" light-green btn-floating"><i  class="material-icons">check</i></div>
              <div *ngIf="submitted" class="progress"><div class="indeterminate"></div></div>
          </tbody>
  </table>
